MAINNET_RPC_URL=
FORK_RPC_URL=http://127.0.0.1:8899
TOKENS_API_KEY=
BACKPACK_API_KEY=
BACKPACK_API_SECRET=
REGISTRAR_KEYPAIR_PATH=.keys/registrar.json
DEMO_MODE=1
NEXT_PUBLIC_DEFAULT_MINT=XsbEhLAtcf6HdfpFZ5xEMdqW8nfAvcsP5bdudRLJzJp
